
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.project-card{
    width: 80%;
    height: 550px;
    background-image: url(./istockphoto-485873480-612x612.jpg);
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    align-self: left;
    margin-top: 6%;
    margin-bottom: 6%;
}
.buttons {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }
  .buttons::before {
    content: "";
    position: absolute;
    background-color: hwb(0 77% 23%);
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .buttons:hover::before {
    transform: scaleX(1);
  }
  .buttons:hover {
    color: #fff;
  }
  .hero-right{
    position: relative;
    
    /* display: flex; */

  }
  .userimages{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s ;
    animation-name: scaleimage;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
  }
  @keyframes  scaleimage{
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px  10px black;
    }
    100%{
        filter: grayscale(0);
        transform: scale(1);
    }

}
.project-section{    
    margin-top:5.5rem;
    background-color: rgb(231,231,231); 
}
.project-head{
    color: #e84949;
    text-align: center;
    font-size: 80px;
}
.project-container{
    width: 1200px;
    margin: 0  auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.project-card::after{
    content:"";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
}
.project-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transform: all .4s;
    z-index: 1;
}
.project-card:hover::before{
    transform:scaleX(1);
    
}
.project-number{
    position: absolute;
    font-size: 200px;
    color: white;
    font-weight: 600;
    opacity: 1;
    z-index: 8;
}
.numberright{
    right: -1%;
    top: -14%;
}
.numberleft{
    left: -8%;
    top: -16%;
}
.projectcontent{
    display: flex;
    position: absolute;
    flex-direction: column;
    color: #fff;
    padding: 2em;
    bottom: 20%;
    left: 8%;
    z-index: 5;
    gap: 1em;
    transition: all .4s;
}
.project-skill-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
#project2{
    background-image: url(./Shutterstock_1278873550-1.jpg); 
    right: 5%;  
}
#project3{
    background-image: url(./istockphoto-157603061-612x612.jpg);
}

.dropbtn {
    background-color: #f9f9f9;
    color: #0f0f0f;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 98;
    max-height: 0;
    min-width: 160px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: black;
    background-color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #e2e2e2;
  }
  
  .dropdown:hover .dropdown-content {
    max-height: 500px;
    min-width: 160px;
    transition: max-height 0.25s ease-in;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    transition: max-height 0.25s ease-in;
  }
#project4{
    background-image: url(./1.png);
  }
  #fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    border: 1px solid gray; 
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    max-width: 100%;
    
   
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}

.fcf-body {
  background: linear-gradient(300deg, #aee7b9, #abd9af, #ffffffd9);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
 
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* ------- Brands ------- */

.brands{
    margin: 100px auto;
 }

 .col-5{
    width: 160px;
 }

 .col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
 }

 .col-5 img:hover{
    filter: grayscale(0);
 }

 .contact-section{
    background: url('./images/ddd.png');
    background-size: cover;

  }

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    margin-top: 120px;

  }

  .contact-info i{
    margin-right: 20px;
    font-size: 25px;

  }
  .contact-info a{
    color: #fff;
}
  .contact-form{
    max-width: 700px;
    margin-right: 50px;
  }

  .contact-info, .contact-form{
    flex: 1;
  }

  .contact-form h2{
    color: rgb(218, 216, 216);
    text-align: left;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 60px;
    align-self: flex-start;
  }

  .contact-form .text-box{
    background: #000;
    color: #fff;
    border: none;
    width: calc(25% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }

  .contact-form .text-box:nth-child(1),
  .contact-form .text-box:nth-child(2){
    margin-right: 20px;
  }

  .contact-form textarea{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
   resize: none;
  }

  .contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
    margin-bottom: 20px;
  }

  .contact-form .send-btn:hover{
    background: #0582E3;
  }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-weight: 300;
    color: #fff;
    padding: 1.3rem;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    flex-direction: row;
    font-family: "Poppins", sans-serif;


  }
  .footer .foot{
    margin-left: 120px;
    font-size: 15px;
    margin: 10px 450px;
    margin-left: 30px;
    color: #777;
    align-items: left;
  }
  .footer .social-links{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;

  }
  .footer .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }

  #footer{
    color: #777;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  margin: 10px 10px;
  }




 /* -------------footer--------- */

 .footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 6px 0 20px;
 }

 .footer p{
    color: #8a8a8a;
    left: 10px;
 }

 .footer h3{
    color: white;
    margin-bottom: 20px;
 }

 .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
 }

 .footer-col-1{
    flex-basis: 30%;
 }

 .footer-col-2{
    flex: 1;
    text-align: center;
 }

 .footer-col-1 img{
    width: 180px;
    margin-bottom: 20px;
 }

 .footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
 }

 ul{
    list-style-type: none;
 }

 .app-logo{
    margin-top: 20px;
 }

 .app-logo img{
    width: 140px;
 }

 .footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
 }

 .copyright{
    text-align: center;
 }
 .menu-icon{
    width: 20px;
    margin-left: 20px;
    display: none;
 }

 .scroll-up-btn {
    height: 44px;
    width: 44px;
    font-size: 1.6em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #ff523b;
    color: white;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
  }

  .scroll-up-btn:hover {
    background: #333;
  }
#project5{
    background-image: url(./carbonfootprint.jpg);
}